In [1]:
import numpy as np
import pandas as pd

# Load positive tweets
pos_tweets = []
with open('twitter-datasets/train_pos_u.txt', encoding = 'utf-8') as f:
    for line in f:
        pos_tweets.append(line)
        
# Load negative tweets
neg_tweets = []
with open('twitter-datasets/train_neg_u.txt', encoding = 'utf-8') as f:
    for line in f:
        neg_tweets.append(line)

In [2]:
all_tweets = np.array(pos_tweets + neg_tweets)

In [3]:
y = np.concatenate((np.ones(len(pos_tweets)), np.zeros(len(neg_tweets))))

random_idxs = np.random.permutation(len(y))

all_tweets = all_tweets[random_idxs]

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer 
 
tfidf_vectorizer=TfidfVectorizer(use_idf=True) 
X = tfidf_vectorizer.fit_transform(all_tweets)
len(all_tweets), X.shape

(181321, (181321, 100571))

In [6]:
first_vector_tfidfvectorizer=X[0] 
df = pd.DataFrame(first_vector_tfidfvectorizer.T.todense(), index=tfidf_vectorizer.get_feature_names(), columns=["tfidf"]) 
df.sort_values(by=["tfidf"],ascending=False)

             tfidf
scrooge   0.503400
xmas      0.427502
adds      0.408056
giving    0.313926
list      0.313548
...            ...
falkirk   0.000000
falke     0.000000
faliraki  0.000000
faliq     0.000000
zzzs      0.000000

[100571 rows x 1 columns]

In [7]:
y = y[random_idxs]

N_train = int(0.8*len(y))

X_train, X_test = X[:N_train], X[N_train:]
y_train, y_test = y[:N_train], y[N_train:]

In [8]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, random_state=0)  
clf.fit(X_train, y_train)


predictions = clf.predict(X_test)

In [9]:
(clf.predict(X_test) == y_test).mean()

0.7926099545015856